// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(0, 0%, 100%),
    200: hsl(21, 10%, 70%),
    300: hsl(21, 10%, 55%),
    400: hsl(21, 10%, 47%),
    500: hsl(21, 10%, 42%),
  ),

  secondary: (
    100: hsl(45, 34%, 76%),
    200: hsl(45, 34%, 66%),
    300: hsl(45, 34%, 56%),
    400: hsl(45, 34%, 46%),
    500: hsl(45, 34%, 26%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 85%),
    300: hsl(0, 0%, 75%),
    400: hsl(0, 0%, 65%),
    500: hsl(0, 0%, 55%),
    600: hsl(0, 0%, 45%),
    700: hsl(0, 0%, 35%),
    800: hsl(0, 0%, 25%),
    900: hsl(0, 0%, 5%),
  ),

  teal: (
    100: rgb(0 122 138),
    200: rgb(12 150 167),
    300: rgb(24 177 195),
    400: rgb(48 204 224),
    500: rgb(72 211 232),
    600: rgb(96 217 240),
    700: rgb(120 224 248),
    800: rgb(144 226 251),
    900: rgb(36 229 255),
  ),

  navy: (
    100: rgb(91 144 249),
    200: rgb(63 116 217),
    300: rgb(35 88 185),
    400: rgb(7 60 153),
    500: rgb(0 47 132),
    600: rgb(0 43 118),
    700: rgb(0 39 104),
    800: rgb(0 35 90),
    900: rgb(0 35 105),
  ),
  grey: (
    custom: rgba(125 110 102)
  ),
  red: (
    custom: hsl(352, 100%, 39%)
  ),
  dark: (
    100: hsl(223, 58%, 5%),
  ),
  gold: (
    custom: hsl(45, 34%, 50%),
  ),

);
